<!doctype html>
<html>
   <head>
      <title>The Mealist</title>
      <link rel="stylesheet/less" type="text/css" href="/style.less">
      <script src="/less-1.1.3.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.1/mootools-yui-compressed.js" type="text/javascript"></script>
      <script src="/index.js" type="text/javascript"></script>
   </head>
   <body>
      <div id="header">
         <span id="headtext"><a href="/"><img src="/header_logo.png" /><p>The Mealist</p></a></span>
         <span id="headright">Sign Out</span>
      </div>
      <div id="container">
         <h1>Upcoming Meals</h1>
         <div id="list">
            <ul class="top">
               <% meals.each do |meal| %>
                  <li class="first">
                     <%= meal.name %>
                     <span class="time"><a href="/meal/<%= meal.id %>"><%= meal.date.nil? ? "&rarr;" : meal.date %></a></span>
                  </li>
                  <div class="items">
                     <ul>
                        <% @depth = 0;  %>
                        <% meal.items.each do |item| %>
                           <% while item.depth != @depth do %>
                              <% if item.depth > @depth %>
                                 <ul> <% @depth += 1 %>
                                 <% elsif item.depth < @depth %>
                                 </ul> <% @depth -= 1 %>
                              <% end %>
                           <% end %>
                           <li><%= item.name %></li>
                        <% end %>
                     </ul>
                  </div>
               <% end %>

               <li class="first" id="last">
                  <form id="mealadd" class="clearfix" method="post">
                     <input id="mealname" type="text" name="meal" title="Meal name" />
                     <input id="mealdate" type="text" name="date" title="date" />
                     <input type="submit" value="Go." />
                  </form>
               </li>
            </ul>
         </div>
      </div>
   </body>
</html>
