body {
   padding: 0;
   margin: 0;
   font-family:"Arial", sans-serif;
   background-color: #f6f6f6;
   -webkit-font-smoothing: antialiased;
}

.clearfix:after  {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

#container {
   margin: 20px auto;
   width: 600px;

   h1 {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
      color: #555;
   }

   #list {
      border: 5px solid #ccc;
      padding: 0;
   }
}

#header {
   height: 40px;
   background-color: #66778E;
   margin: 0;

   #headtext {
      font-size: 1.4em;
      color: #DDDDDD;

      img {
         margin: 10px;
         height: 20px;
         float: left;
      }

      p {
         display: inline;
         float: left;
         margin: 6px;
         font-weight: 700;
         padding: 0;
      }
   }

   #headright {
      color: #DDDDDD;
      display: inline-block;
      border-left: #000 solid 1px;
      float: right;
      font-size: 0.8em;
      font-weight: 800;
      height: 20px;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
   }
}

ul {
   background-color: #FFF;
   border-radius: 0 0 0.6em 0.6em;
}

li {
   color: #333;

   input[type=checkbox] {
      margin: 0 13px 0 10px;
   }

   .edit-handle {
      float: right;
      display: inline;
      padding: 3px;
      cursor: pointer;
   }
}

li.first {
   background-color: #FFF;
   margin: 0;
   border-top: 1px solid silver;
   padding: 10px;
   margin: 0;
   padding: 0;
   list-style: none;
}



#items li {
   cursor: move;

   input[type=checkbox] {
      cursor: pointer;
   }
}

li.completed  {
   color: silver;
   opacity: 0.7;
}
